@charset "UTF-8";

.main-contents-header {
  height: 85px;
  background-color: aqua;
}

.main-contents-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.main-contents-logo {
  width: 60px;
}

.main-contents-nav {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.main-contents-nav-item {
  margin: 0 30px;
}

.main-contents-icon {
  display: flex;
  justify-content: center;
}

.main-contents-iconimg {
  max-width: 100%;
}

.main-contents-main {
  display: flex;
  flex-direction: column;
}

.main-contents-main-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.main-contents-main-topimg {
  height: 600px;
}

.topimg {
  height: 500px;
  object-fit: cover;
}

.main-contents-wrapbox {
  height: 500px;
  margin-top: 80px;
  margin-bottom: 20px;
}

/*slider*/
.slider {
  position: relative;
}

.slider-item01 {
  background:url(../images/top1.png);
}

.slider-item02 {
  background:url(../images/top2.png);
}

.slider-item03 {
  background:url(../images/top3.png);
}

.slider .topimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
/*slider*/

/*sliderナビスクエア*/
.slick-dots {
  position: relative;
  margin: -40px auto;
  text-align: center;
  z-index: 3;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: 1px solid white;
  width: 40px;
  height: 4px;
  display: block;
  background: transparent;
}

.slick-dots .slick-active button {
  background-color: #c8dce6;
  outline: 1px solid #c8dce6;
}
/*sliderナビスクエア*/

.main-contents-wrapblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-contents-wrapblock:not(:last-child) {
  margin-bottom: 100px;
}

.main-contents-img {
  display: block;
  width: 50%;
}

.main-contents-textbox {
  width: 50%;
}

.main-contents-textinnerbox {
  max-width: 470px;
  margin-right: auto;
  padding-left: 78px;
}

.textbox-btn {
  width: 220px;
  color: #000;
  font-size: 15px;
  text-align: center;
  background-color: #FFF;
  display: block;
  outline: 1px solid #000;
  line-height: 40px;
}

.main-contents-wrap.news {
  background-color: aqua;
  padding: 56px 0;
  margin-top: 150px;
}

.main-contents-wrapbox {
  height: 125px;
}

.main-contents-wrapinnerbox {
  width: 1086px;
  margin: 0 auto;
}