@charset "UTF-8";

/*全体*/
 html {
  font-family: "Tourney", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "wdth" 95.9;
}

h3,h5,p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/*header*/
.main-contents-header {
  height: 85px;
  background-color: aqua;
}

.main-contents-header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.main-contents-logo {
  width: 60px;
}

.main-contents-nav {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.main-contents-nav-item {
  margin: 0 30px;
}

.main-contents-icon {
  display: flex;
  justify-content: center;
}

.main-contents-iconimg {
  max-width: 100%;
}
/*header*/

/*メインコンテンツ*/
.main-contents-main {
  display: flex;
  flex-direction: column;
}

.main-contents-main-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.main-contents-main-topimg {
  height: 600px;
}

.topimg {
  height: 500px;
  object-fit: cover;
}
/*メインコンテンツ*/

.main-contents-wrapbox.slick {
  height: 500px;
  margin-top: 80px;
  margin-bottom: 20px;
  background-color: palevioletred;
}

.main-contents-box {
  margin-bottom: 49px;
}

.main-contents-imgbox {
  margin: 0 0 0 auto;
  width: calc(50% + 544px);
  display: block;
}

/*slider*/
.slider {
  position: relative;
}

.slider-item01 {
  background:url(../images/top1.png);
}

.slider-item02 {
  background:url(../images/top2.png);
}

.slider-item03 {
  background:url(../images/top3.png);
}

.slider .topimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
}
/*slider*/

/*sliderナビスクエア*/
.slick-dots {
  position: relative;
  margin: -40px auto;
  text-align: center;
  z-index: 3;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: 1px solid white;
  width: 40px;
  height: 4px;
  display: block;
  background: transparent;
}

.slick-dots .slick-active button {
  background-color: #c8dce6;
  outline: 1px solid #c8dce6;
}
/*sliderナビスクエア*/

.main-contents-wrapblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-contents-wrapblock:not(:last-child) {
  margin-bottom: 100px;
}

.main-contents-img {
  display: block;
  width: 50%;
}

.main-contents-textbox {
  width: 50%;
}

.main-contents-textinnerbox {
  max-width: 470px;
  margin-right: auto;
  padding-left: 78px;
}

.textbox-btn {
  width: 220px;
  color: #000;
  font-size: 15px;
  text-align: center;
  background-color: #FFF;
  display: block;
  outline: 1px solid #000;
  line-height: 40px;
}

.main-contents-wrap.news {
  height: 340px;
  background-color: aqua;
  padding: 56px 0;
  margin-top: 150px;
}

.main-contents-wrapbox.news {
  width: 1086px;
  margin: 0 auto;
}

.main-contents-wrapinnerbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-contents-wrapinnerbox .main-contents-newsbox li p {
  background:url(../images/news_icon.png) no-repeat right center/7px;
}

.main-contents-newsbox {
  display: flex;
  flex-direction: column;
  width: calc(100% - 176px);
}

.main-contents-newsboxinner {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-contents-wrapinnerbtn {
  text-align: right;
}

.main-contents-wrapinnerbtn a {
  background:url(../images/news_icon.png) no-repeat right center/7px;
}

.main-contents-wrapbox.category {
  width: 60%;
  background-color: yellow;
  margin: 0px 300px;
  justify-content: center;
  text-align: center;
}

.main-contents-categorybox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-contents-categoryboxinner {
  flex-basis: calc(33.333% - 20px); 
  margin: 10px;
}

.main-contents-categoryboxinner.big {
  flex-basis: calc(66.666% - 20px);
}

.main-contents-category-img.pc {
  width: 100%;
}

.main-contents-category-img.sp {
  display: none;
}

.main-contents-categoryphoto {
  width: 100%;
}

.main-contents-category-img {
  width: 100%;
}

.main-contents-wrapbox.Ficon {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 80px 0px;
}

.main-contents-footer-icon {
  width: 120px;
  margin-right: 60px;
}

.footer-icon-img {
  width: 95px;
  margin-bottom: 10px;
}

.footer-icon-title,
.footer-icon-text {
  text-align: center;
}

.footer-contents-box {
  height: 470px;
  text-align: center;
  padding: 40px 0px;
  background-color:#c8dce6;
}

.footer-contents-boxinner {
  margin-bottom: 70px;
}

.footer-contents-img {
  width: 150px;
}

.footer-contents-nav {
  margin-bottom: 50px;
}

.footer-contents-nav ,
.footer-contents-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.footer-contents-nav li,
.footer-contents-nav a {
  margin: 0px 10px 10px 0px;
}

.footer-contents-icon li {
  margin: 0px 60px 50px 0px;
}

.footer-contents-icon img {
  width: 35px;
}
